*{
    box-sizing: border-box;
}
html {
    overflow-y: scroll;
}
.section__products {
    padding: 15rem 0;
    height: auto;
}
.section__products .heading-h2 {
    font-size: 7.2rem;
}

#accordian {
    margin-top: 5rem;
   
}
#accordian .card {
    border: none;
    margin-top: 5rem;
     
}

#accordian .card a:link{
    text-decoration: none;
}
#accordian .card .card-header {
    background-color: transparent;
    border: 0;
    position: relative;
}
#borderbtm{
    width: 97%;
    height: 0;
    border-bottom: 2px solid #EC6126;
    margin-top: 1rem;
}
#accordian .card .card-header h5 {
    font-size: 3rem;
    color: #EC6126;    
}
#accordian .card .card-header h5 .fas {
    float: right; 
}

#accordian .card a[aria-expanded="false"] h5 .fa-chevron-circle-down {
    transition: all .5s;
    position: absolute;
    bottom: -25px;
    right: 0;

}
#accordian .card a[aria-expanded="true"] h5 .fa-chevron-circle-down {
    transform: rotate(180deg);
    transition: all .5s;
    position: absolute;
    bottom: -25px;
    right: 0;
}
.fas {
    font-size: 3rem;
}


#accordian .card .card-body .img-fluid {
    width: 32.8rem;
    height: 20.1rem;
    
}
#accordian .card .card-body .img-fluid img{
    width: 100%;
}
#accordian .card .card-body .margin{
    margin-top: 5rem;
}

@media (max-width:1370px) {
    .section__products {
        padding: 3rem 0 ;
    }
   
}
@media (max-width:768px) {
    #borderbtm {
        width: 94%;
    }

    .row {
        display: inherit;
    }

    #accordian .card .card-body .margin {
        margin-top: 1rem;
    }

    .img-fluid {
        margin: 0 auto;
        margin-bottom: 1rem;
    }

}
@media (max-width:380px) {
    #borderbtm {
        width: 94%;
    }

    .row {
        display: inherit;
    }

    #accordian .card .card-body .margin {
        margin-top: 1rem;
    }

    .img-fluid {
        margin: 0 auto;
        margin-bottom: 1rem;
    }

}
@media (max-width:360px) {
    #borderbtm {
        width: 94%;
    }

    .row {
        display: inherit;
    }

    #accordian .card .card-body .margin {
        margin-top: 1rem;
    }

    .img-fluid {
        margin: 0 auto;
        margin-bottom: 1rem;
    }

}

@media (max-width:450px){
    #borderbtm {
        width: 94%;
    }
    .row{
        display: inherit;
    }
    #accordian .card .card-body .margin {
        margin-top: 1rem;
    }
    .img-fluid {
        margin: 0 auto;
        margin-bottom: 1rem;
    }
     
}